
:root {

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  --bg: #0e1a2b;
  --bg-light: #15243b;
  --bg-lighter: #1c2a45;

  --text-secondary: #94A3B8;
  --text-main: #E2E8F0;
  --text-tertiary: #7a7a7a;

  --accent: #ff7f50;
  --accent-hover: #ffa07a;

  --link-color: #ff7f50;
  --link-hover: #ffa07a;

  --card-bg: #15243b;
  --card-hover: #1c2a45;
  --card-border: rgba(255,127,80,0.15);
  --card-shadow: rgba(0,0,0,0.4);
  --skills: #142E3F;
  --turquoise:#64FFDA;
}

@supports (font-variation-settings: normal) {
  :root { 
    font-family: InterVariable, sans-serif; 
  }
}

html, body{
    height: 100%;
}


body{
    font-family: 'Inter',sans-serif;
    background-color: var(--bg);
    color: var(--text-secondary);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 40% 1fr;
    min-height: 100vh;
}

.sidebar{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    overflow: auto;
    padding: 4.2rem 0 4.2rem 11rem;
    box-sizing: border-box;
}

aside h1{
    font-family: 'Inter',sans-serif;
    color: var(--text-main);
    margin-bottom: 0;
    font-size: 3em;
}

aside h3{
    margin-top: 9px;
    color: var(--text-main);
    font-size: 1.5em;
}

aside p{
    margin-top: 0;
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 85px 0 140px 0;

}

.nav-list li {
  margin-bottom: 1.5rem;
}

.nav-list li a {
  text-decoration: none;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  
  color: var(--text-secondary); 
  transition: color .18s ease;
}


.nav-list .nav-line {
  display: inline-block;
  width: 40px;
  height: 1.7px;
  background-color: var(--text-secondary); 
  margin-right: 0.75rem;
  margin-bottom: 0.20rem;
  transition: width 240ms cubic-bezier(.2,.9,.3,1), background-color 180ms ease;
}


.nav-list li a:hover {
  color: var(--text-main); 
}

/*js style*/
.nav-list a.active {
  color: var(--text-main); 
}


.nav-list a.active .nav-line {
  width: 65px;
  background-color: var(--text-main); 
}




.icon i{
    color: var(--text-secondary);
    font-size: 1.6rem;
    margin-right: 20px;
    transition:color 0.1 ease ;
}

.icon i:hover{
    color: #e6e6e6;
}

/*main*/
main .about{
    color: var(--text-secondary);
    font-size: 17px;
}

main{
    margin: 4.2rem auto;
    width: 35rem;
    line-height: 1.5;
}

.chips{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.myH3{
    color: var(--text-secondary);
    margin-top: 30px;
}

.chip{
    color: var(--turquoise);
    padding: 10px 20px;
    background-color: hsl(166, 43%, 41%);
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
     transition: transform .3s ease;
     margin: 10px 15px;
}

.chip:hover{
  transform: translateY(-3px);
  background-color:  hsl(166, 43%, 34%);
}

main a.resume-link{
    text-decoration: none;
    color: var(--text-secondary);
    display: inline-block;
    margin: 30px 0 50px 0;
}

main a.resume-link i{
    font-size: 1.4rem;
    transition: transform 0.2s ease, color 0.2s ease;
}



main a.resume-link:hover{
    color: var(--turquoise);
}

a.resume-link:hover i{
    transform: translate(3px, -3px);
    color: var(--turquoise);
}

/*projects*/
#projects h3{
    margin-bottom: 30px;
}

.project-container{
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: 10px 20px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
     transition: all 0.25s ease;
}

.project-container:hover{
   background-color: hsl(213, 41%, 19%);
    box-shadow: 
        0 0 0 1px rgba(100,255,218,0.25), 
        0 12px 32px rgba(0,0,0,0.35),
        0 0 32px rgba(100,255,218,0.20); 
}

.title{
    color: var(--text-main);
    font-size: 1.2em;
}

.title i{
        transition: transform 0.2s ease, color 0.2s ease;

}

.title:hover{
    color: var(--turquoise);
}

.title:hover i{
    transform: translate(3px, -3px);
    color: var(--turquoise);
}